--extra-index-url https://download.pytorch.org/whl/cu121 # CUDA 12.1 (also compatible with CUDA 12.3) - if you have different cuda version, change the version here
torch
torchvision
onnxruntime-gpu
transformers
diffusers

gradio==3.50.2 # Critical for UI
addict
huggingface_hub
matplotlib
numpy
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision
termcolor
timm
yapf
nltk
fairscale
litellm
